@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

#first__page{
    background-color:  #FFCD9E;
    height: 100vh;

}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.section__description{
    width: 40%;
    margin-left: 72px;
}
.section__description--title {
    font-size: 2rem;
    margin-bottom: 24px;
    line-height: 1.5;
}
.section__description--para{
    width: 80%;
    font-size: 1rem;
    margin-bottom: 24px;
    line-height: 1.5;
    
}
.section__description--link{
    display: block;
    font-weight: 700;
    text-decoration: none;
    color: #000;
}
.section__description--small{
    color: #FFFFFF;
    font-weight: 500;
    text-align: center;
}
form{
    margin: 32px 0;
}
input{
    padding: 8px 10px;
    border: 2px solid black;
    border-radius: 2%;
}
.btn{
    background-color:#282828 ;
    color: #fff;
    padding: 8px 20px;
    border: none;
    border-radius: 4%;
    cursor: pointer;
}




/* FOOTER */

.footer__container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer{
    background-color: #282828;
    
}

ul{
    list-style-type: none;
}

.footer__lists, .footer__desc{
    padding: 32px 0 32px 0;
}

.footer__lists--link,  .footer__para, .footer__desc{
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    line-height: 1.7;
}

.footer__desc{
    text-align: right;
}
.footer__logo{
    margin-bottom: 16px;
}

/* MEDIA QUERY */
@media  (max-width:992px) {
    form{
        margin: 12px 0;

    }
    input{
        margin-bottom: 8px;
    }
    .section__description{
        width: 50%;
    }
    .section__description--title{
        font-size: 1.5rem;
    }

    .section__description--title ,.section__description--para{
        margin-bottom: 16px;
        line-height: 1.3;
    }
    .section__description--small{
        font-weight: 700;
        font-size: 12px;
    }


}